*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    height: 10rem;
    width: 16rem;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tgglebtn{
    height: 2rem;
    width: 7rem;

}
.mytogle{
    font-size: 3rem;
    color: antiquewhite;
}